@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}
<div class="container">
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h2>Уруксат алуу учун админге кайрылыныз</h2>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">