@model Identity.ViewModels.ResetPasswordVm

@{
    ViewData["Title"] = "ResetPassword";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.Status == "succes")
        {
            <div class="alert alert-info">Сыр соз жанылоо шилтемеси э-почта сизге жонотулду</div>
        }
        else
        {
            <hr />
            <h2>Сыр созумду унуттум</h2>
            <hr />
            <div class="alert alert-info">
                Жаны сыр созду сактоо учун, сизге э-почтанызга шилтеме жонотобуз!
            </div>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

