@model List<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Claims</h1>
<br />
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
        <th>Subject Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Issuer</td>
            <td>@item.Type</td>
            <td>@item.Value</td>
            <td>@item.Subject.Name</td>
        </tr>
    }
</table>